fastapi
uvicorn
pymongo
python-dotenv
passlib[bcrypt]
python-jose
email-validator
google-auth
google-auth-oauthlib
python-multipart
numpy
scipy
librosa
torch==2.2.2 --index-url https://download.pytorch.org/whl/cpu