# Vite variables must be prefixed with VITE_

# Expected Backend API Endpoint
# Example locally: http://localhost:8000 or http://localhost:8000/api
# Example deployed: https://deepfake-backend-production.up.railway.app or https://deepfake-backend-production.up.railway.app/api
VITE_API_URL=

# Google OAuth App Client ID
VITE_GOOGLE_CLIENT_ID=your_google_oauth_client_id.apps.googleusercontent.com
